$map-width: 100%;
.map, .info {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.map {
  width: $map-width;
}
.info {
  left: 50%;
  width: 50%;
  overflow: hidden;
  transition: all .5s ease-out;
  &.close {
    left: 100%;
  }
}
.info-item {
  transition: left .5s ease-out;
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $brand-primary;
  &.active {
    left: 0;
  }
}

.info-gallery {
  width: 100%;
  height: 50%;
  transition: all .5s ease-out;
  z-index: 100;
}
.production .info-gallery {
  cursor: zoom-in;
}
.production.gallery-zoom .info-gallery {
  cursor: zoom-out;
}
.info-data-container {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.info-data, .info-data-en {
  position: absolute;
  top: 0;
  left: 0;
}
.info-data {
  animation-duration: 1s;
  animation-name: slidein;
}
.info-data-en {
  top: 100%;
  animation-duration: 1s;
  animation-name: slideout;
}
.en {
  .info-data {
    top: 100%;
    animation-duration: 1s;
    animation-name: slideout;
  }
  .info-data-en {
    top: 0;
    animation-duration: 1s;
    animation-name: slidein;
  }
}
@keyframes slidein {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}
@keyframes slideout {
  from {
    top: 0;
  }

  to {
    top: 100%;
  }
}
.info-data, .info-data-en {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 15px 40px;
}
.production .info-data, .production .info-data-en {
  overflow-y: auto;
}
.info-data-title {
  h1 {
    color: white;
    font-size: 32px;
    margin: 15px 0;
    line-height: 1em;
  }
}
.info-data-description {
  &, p {
    color: rgba(#f2f2f2, .9);
    font-size: 22px;
    letter-spacing: .02em;
    line-height: 1.35em;
  }
}
.gallery-zoom {
  .info {
    left: 0;
    width: 100%;
  }

  .info-gallery {
    height: 100%;
  }
}
.gallery-zooming {
  .info-item {
    display: none;
    &.active {
      display: block;
    }
  }
}
