$map-width: 100%;
.map, .info {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.map {
  width: $map-width;
}
.info {
  transition: left .5s ease-out;
  left: 50%;
  width: 50%;
  background: $brand-primary;
  overflow: hidden;
  &.close {
    left: 100%;
  }
}
.hide-info {
  .info {
    left: 100%;
  }
}
.info-gallery {
  height: 50%;
}
.info-data {
  height: 50%;
  overflow: scroll;
  padding: 15px 40px;
}
.info-data-title {
  h1 {
    color: white;
    font-size: 32px;
    margin: 20px 0;
    line-height: 1em;
  }
}
.info-data-description {
  &, p {
    color: rgba(#f2f2f2, .9);
    font-size: 22px;
    letter-spacing: .03em;
    line-height: 1.5em;
  }
}
