$carousel-height: 100%;

.carousel {
  height: $carousel-height;
  .carousel-inner {
    height: $carousel-height;
    overflow: hidden;

    .item {
      height: $carousel-height;
      .item-overlay {
        position: absolute;
        width: 100%;
        height: $carousel-height;
        background: rgba(0,0,0,.15);
      }
      .item-image {
        width: 100%;
        height: $carousel-height;
        position: relative;
        background-position: center;
        background-size: cover;
      }
      .carousel-caption {
        @extend .h1;
        color: white;
        max-width: $screen-md-min;
        margin: 0 auto 15px;
        text-shadow: black 1px 1px 0.1em;
        p {
          @extend .h1;
          color: white;
          margin: 0;
        }
        @media (max-width: $screen-md-max) {
          margin-bottom: 30px;
        }
        @media (max-width: $screen-xs-max) {
          left: 0;
          width: 100%;
          padding: 15px;
          margin-bottom: 0;
          bottom: 0;
          text-align: left;
        }
        a {
          @extend .btn-lg;
          margin: 60px 0 30px;
          padding: 15px 30px;
          font-size: 13px;
          color: white;
          text-align: center;
          @media (max-width: $screen-xs-max) {
            margin: 10px 0 20px;
          }
        }
      }
    }
  }
  .carousel-control {
    display: none;
    background-image: none;
    &:hover {
      opacity: .9;
    }
  }
  @media (max-width: $screen-xs-max) {
    .carousel-control, .carousel-control:hover, .carousel-control:focus {
      opacity: 0;
    }
  }
  .carousel-indicators {
    display: none;
    bottom: -50px;
    li {
      background-color: $gray;
      border-radius: 0;
      &.active {
        background-color: $brand-primary;
      }
    }
  }
}
