include ../mixins/carousel
- var _images = images || []
- var _title = title || ''
- var _description = description || ''
.info-gallery
  +carousel(_images,{id: "homeCarousel"})
.info-data
  .info-data-title
    h1=_title
  .info-data-description
    p!=_description
