include ../mixins/carousel
- var images_ = images || [{src: "assets/images/Sample-image-Ag-Anargiroi.jpg",caption: ""},{src: "assets/images/Sample-image-Ag-Anargiroi.jpg",caption: ""}]
- var title_ = title || 'Αγ. Ανάργυροι'
- var description_ = description || 'Πρόκειται για τρίκλιτη ξυλόστεγη βασιλική που κτίστηκε το 10ο αιώνα. Ο φωταγωγός του μεσαίου κλίτους είναι ιδιαίτερα υπερυψωμένος, χαρακτηριστικό γνώρισμα των ναών της Καστοριάς. Τα κλίτη χωρίζονται με τοιχοποιίες, τις οποίες διατρυπούν τοξωτά ανοίγματα για τη μεταξύ τους επικοινωνία. Είναι ο μοναδικός ναός της πόλης, που σώζει περίτεχνο, γλυπτικό διάκοσμο (αμφικίονες, περιθυρώματα, επίκρανα κ.α.).'
.info-gallery
  +carousel(images_,{id: "homeCarousel"})
.info-data
  .info-data-title
    h1=title_
  .info-data-description
    p!=description_
