include ../mixins/carousel
- var images_ = images || []
- var title_ = title || ''
- var description_ = description || ''
.info-gallery
  +carousel(images_,{id: "homeCarousel"})
.info-data
  .info-data-title
    h1=title_
  .info-data-description
    p!=description_
