include mixins/carousel

- var mainMenuActiveIndex = -1;
- var brandName = "kastoria-interactive";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
    script.
      var categories = {
        "BYZANTINA":"byzantina",
        "METABYZANTINA":"metabyzantina",
        "SYGXRONA":"sygxrona"
      }
      var env = "#{locals.env}";
      var FILTER = env==="production" ? "" : "#{locals.filter}";
  body
    .map(id="map")
    .help
      video(loop autoplay="false" src="assets/video/help.mp4")
    .info
      include partials/info
include partials/footer
