include mixins/carousel

- var mainMenuActiveIndex = -1;
- var brandName = "kastoria-interactive";
- var pageTitle = brandName;
doctype html
html
  head
    include partials/header
    script.
      var FILTER = 'byzantina';
  body
    .map(id="map")
    .info
      include partials/info
include partials/footer
